[MAIN]
init-hook = 'import sys; sys.path.insert(0, "backend")'
extension-pkg-allow-list = pydantic
ignore-paths =
	(^|.*/)backend/alembic/versions/.*$
	(^|.*/)alembic/versions/.*$

[MESSAGES CONTROL]
disable =
	broad-exception-caught,
	unused-argument,
	import-error,
	redefined-outer-name,
	raise-missing-from
